.bag-baginfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 25px; */
  /* background-color: red; */
}
.bag-icon-img {
  width: 100%;
  height: 100%;
}
.bag-icon-img:hover {
  cursor: pointer;
}
.bag-info {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
