.location-section {
  border-bottom: 1px solid #e6e6e6;
  height: 42px;
  display: flex;
  align-items: center;
}
.location-bar,
.logo-bar,
.navigation-bar {
  width: min(1280px, 80%, 1280px);
  margin-inline: auto;
}
.logo-container,
.searchbar-component-container,
.favorites-cart-container {
  height: 45px;
}
.location {
  display: flex;
  font-size: 0.8rem;
}
.location-icon-container {
  width: 12px;
  margin-right: 5px;
}
.location-icon-img {
  width: 100%;
}

.logo-section {
  height: 93px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
}
.logo-bar {
  display: flex;
  flex-wrap: wrap;
}
.logo-container {
  /* background-color: violet; */
  flex: 1 1 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-img {
  width: 100%;
}

.navbar-section {
  height: 60px;
  display: flex;
  align-items: center;
}
.searchbar-component-container {
  flex: 1 1 50%;
}
.favorites-cart-container {
  /* background-color: orange; */
  width: 100px;
  flex: 1 1 25%;
}
