.location-bar,
.logo-bar,
.navigation-bar {
  width: min(1280px, 80%, 1280px);
  margin-inline: auto;
}
.location-section {
  border-bottom: 1px solid #e6e6e6;
  min-height: 42px;
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  font-size: 0.8rem;
  min-width: 250px;
}
.location-icon-container {
  width: 12px;
  margin-right: 5px;
}
.location-icon-img {
  width: 100%;
}

.logo-section {
  min-height: 93px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
}
.logo-container,
.searchbar-component-container,
.favorites-cart-container {
  min-height: 45px;
  max-height: 45px;
}
.logo-bar {
  display: flex;
}
.logo-container {
  /* background-color: violet; */
  flex: 1 1 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 300px;
}
.logo-img {
  width: 90%;
}

.search-cart-container {
  display: flex;
  width: 100%;
}
.searchbar-component-container {
  /* background-color: red; */
  flex: 1 1 50%;
  min-width: 450px;
}
.favorites-cart-container {
  /* background-color: orange; */
  /* width: 100px; */
  flex: 1 1 25%;
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  max-width: 250px;
}
.favorites-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  border: 1px solid #e6e6e6;
  height: 50%;
  margin-inline: 10px;
}
.shoppingbag-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.navbar-section {
  min-height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1125px) {
  .logo-bar {
    flex-wrap: wrap;
    /* background-color: green; */
  }
  .logo-container {
    margin: 10px auto;
    justify-content: center;
  }
  .searchbar-component-container {
    flex: 1 1 75%;
  }
  .favorites-cart-container {
    flex: 1 1 25%;
  }
  .search-cart-container {
    margin-bottom: 10px;
  }
  .searchbar-section {
    max-width: 450px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 815px) {
  .search-cart-container {
    flex-wrap: wrap-reverse;
  }
  .favorites-cart-container {
    margin-inline: auto;
    justify-content: center;
    min-width: 170px;
    margin-bottom: 10px;
    /* background-color: red; */
  }
  .searchbar-component-container {
    min-width: 300px;
  }
  .searchbar-section {
    margin-inline: auto;
    justify-content: center;
    /* height: 90%; */
  }
  .logo-container,
  .searchbar-component-container,
  .favorites-cart-container {
    min-height: 40px;
    max-height: 40px;
  }
}

@media screen and (max-width: 625px) {
  .nav-menu-container {
    min-width: 285px;
    max-width: 300px;
    font-size: 0.8rem;
  }
  .phone-container {
    min-width: 110px;
    max-width: 130px;
    font-size: 0.8rem;
  }
  .searchbar-section {
    margin-inline: auto;
    justify-content: center;
  }
  .logo-container,
  .searchbar-component-container,
  .favorites-cart-container {
    min-height: 30px;
    max-height: 30px;
  }
  .search-button {
    font-size: 0.6rem;
  }
  .input-box {
    font-size: 0.6rem;
  }
  .bag-info {
    font-size: 0.6rem;
    min-width: 60px;
  }
  .phoneicon-container {
    width: 14px;
    height: 14px;
  }
  .favorites-icon-container {
    min-width: 30px;
  }
  .bag-icon-container {
    min-width: 30px !important;
  }
}

@media screen and (max-width: 515px) {
  .location-section {
    min-height: 25px;
  }
  .location {
    font-size: 0.6rem;
  }
  .location-icon-container {
    width: 9px;
  }
  .logo-img {
    width: 70%;
  }
  .favorites-icon-container {
    min-width: 15px;
  }
  .bag-icon-container {
    min-width: 15px !important;
  }
  .bag-info {
    font-size: 0.5rem;
  }
  .searchbar-section {
    max-width: 250px;
  }
  .searchbar-container {
    border-radius: 4px;
  }
  .navbar-section {
    min-height: 35px;
  }
  .nav-menu-container {
    min-width: 240px;
    max-width: 240px;
    font-size: 0.6rem;
  }
  .phone-container {
    min-width: 90px;
    max-width: 90px;
    font-size: 0.6rem;
  }
  .phoneicon-container {
    width: 11px;
    height: 11px;
  }
  .logo-container,
  .searchbar-component-container,
  .favorites-cart-container {
    min-height: 20px;
    max-height: 20px;
  }
}

@media screen and (max-width: 426px) {
  .location-section {
    min-height: 20px;
  }
  .location {
    font-size: 0.5rem;
  }
  .location-icon-container {
    width: 8px;
  }
  .logo-img {
    width: 65%;
  }
  .nav-menu-container {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .search-button {
    font-size: 0.5rem;
  }
  .navbar-section {
    min-height: 25px;
  }
}
