.navigation-bar-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-container {
  flex: 1 1 70%;
  min-width: 340px;
}
.nav-menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.nav-menu-list * {
  margin-right: 10px;
}
.nav-menu-list a {
  text-decoration: none;
  color: white;
}
.burger-menu {
  display: none;
}
.burger-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.burger-img {
  width: 45%;
}
.phone-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  flex: 1 1 30%;
  min-width: 150px;
}
.phoneicon-container {
  width: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phoneicon-img {
  width: 100%;
}
